/* 本项目公共样式 */
.bg-main{
	background-color: #fd5f40!important;
}
.bg-main-disabled{
	background-color: #F87F97!important;
}
.text-main{
	color: #fd5f40;
}
.btn-main{
	background-color: #89aa9a;
}
.bg-color{
	background-color: #F5F5F5!important;
}